#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: khaki;
}

.AllPlayers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ABB8C3;
  border-radius: 16px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

img {
  width: 100px;
  height: 100px;
  
}

button {
  color: blue;
}